html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
  font-family: 'Ubuntu';
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	padding: 0px;
	font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #E5E5E5;
}

ul, ul li {
	list-style: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  border-radius: 7px;
  border: 1px solid #116ACC;
  background-color: #116ACC;
}

.btn:focus {
  background-color: rgb(11, 69, 132);
}

.btn:hover {
  background-color: rgba(17, 106, 204, 0.7)
}

.btn:active {
  background-color: rgb(11, 69, 132);
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

/* header */

.container {
  max-width: 1440px;
}

.header__container {
  justify-content: space-between;
  height: 100px;
  padding: 25px 50px;
  background-color: #116ACC;
  box-shadow: 0px 5px 20px 0px #00000040;
}

.nav__item {
  width: 134px;
  height: 52px;
  padding: 14px 22px;
  margin-right: 25px;
  text-align: center;
  color: #116ACC;
  font-size: 16px;
  background-color: #fff;
  border: 2px;
}

.nav__item.btn:focus {
  background-color: rgb(199, 219, 239);
  border-radius: rgba(17, 106, 204, 1);
}

.nav__item.btn:hover {
  background-color: rgb(146, 194, 245);
  border-radius: rgba(17, 106, 204, 1);
}

.nav__item.btn:active {
  background-color: rgb(199, 219, 239);
  border-radius: rgba(17, 106, 204, 1);
}

.nav__item:last-child {
  margin-right: 0;
}

/* login */

.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 924px;
  background-color: #FFFFFF;
}

.login__center {
  max-width: 500px;
  min-height: 366px;
  padding: 50px 83px 50px 40px;
  background-color: #F3F4F6;
  border-radius: 50px;
}

.login_title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.login_label:first-child {
  margin-bottom: 25px;
}

.login_span {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #182233;
}

.login_input {
  width: 300px;
  height: 44px;
  margin-left: 18px;
  padding: 10px 10px 10px 15px;
  border-radius: 7px;
  border: 1px solid #9CA3AF;
}

.login_label:first-child{
  margin-left: 10px;
}

.login_button {
 width: 83px;
 margin-left: 80px;
 padding: 14px 21px;
 font-weight: 500;
 font-size: 14px;
 line-height: 20px;
 color: #fff;
 border-radius: 7px;
 border: 1px solid #116ACC;
 background-color: #116ACC;
}

/* user-account */

.user-account__container {
  max-width: 1440;
  padding: 50px;
  min-height: 924px;
  background-color: #FFFFFF;
}

.user-account__container--top {
  justify-content: space-between;
}

.user-account__title {
  margin: 0;
  margin-bottom: 57px;
  margin-right: 35px;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #000000;
}

#my-select {
  width: 297px;
  height: 43px;
  padding: 8px 40px 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #374151;
  border-radius: 7px;
  border: 1px solid #116ACC;
  background-color: #fff;
}

.choices__item {
  width: 299px;
  height: 44px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #374151;
  background-color: #fff;
}

.choices__list--dropdown .choices__placeholder {
  display: none;
  }

.user-account_button--new {
  width: 234px;
  height: 52px;
  padding: 13px 23px 13px 48px;
  text-align: center;
  font-size: 16px;
  background-image: url("./assets/images/plus.svg");
  background-repeat: no-repeat;
  background-position: 23px;
}

.user-account__list {
  flex-direction: row;
  flex-wrap: wrap;
}

.user-account_item {
  width: 400px;
  height: 156px;
  margin-right: 47px;
  margin-bottom: 50px;
  padding: 22px;
  border-radius: 9px;
  background-color: #fff;
  box-shadow: 0px 5px 20px 0px #00000040;
}

.user-account_item:nth-child(3n) {
  margin-right: 0px;
}

.user-account__item--account {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #182233;
}

.user-account__item--balance {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #182233;
}

.user-account__item--text {
  margin: 0;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}

.user-account__item--date {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}

.user-account_button {
  margin-top: 50px;
  width: 110px;
  height: 52px;
  padding: 15px 20px;
}

/* account-details */

.account-details__container {
  max-width: 1440;
  padding: 50px;
  min-height: 924px;
  background-color: #fff;
}

.account-details__container--top {
  justify-content: space-between;
}

.account-details__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #000000;
}

.account-details__text--top-right {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  color: #000000;
}

.account-details_button--back{
  width: 209px;
  height: 52px;
  padding: 12px 22px 12px 48px;
  font-weight: 500;
  font-size: 16px;
  background-image: url('./assets/images/arrow.svg');
  background-repeat: no-repeat;
  background-position: 22px;
}

.account-details__text--top-left {
  margin: 0;
  margin-top: 33px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.account-details__container--centre {
  justify-content: space-between;
  margin-bottom: 50px;
}

.account-details__container--centre-right {
  width: 606px;
  height: 288px;
  margin-right: 50px;
  padding: 25px 50px;
  border-radius: 50px;
  background-color: #F3F4F6;
}

.account-details__title--center {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.accouts-select__span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #182233;
}

.accouts-select__input {
  margin-bottom: 24px;
  width: 250px;
  height: 44px;
  padding: 9px 15px;
  margin-left: 18px;
  border-radius: 7px;
  border: 1px solid #9CA3AF;
}

#accouts-list {
  z-index: 10;
  position: absolute;
}

.accouts-select__item:first-child {
  margin-top: -40px;
}

.accouts-select__item {
  width: 250px;
  min-height: 44px;
  padding: 9px 9px;
  margin-left: 170px;
  border-radius: 7px;
  background-color: #fff;
  border: none;
}

.transfer-amount__span {
  margin-left: 55px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #182233;
}

.transfer-amount__input {
  margin-left: 20px;
  margin-bottom: 24px;
  width: 250px;
  height: 44px;
  padding: 9px 15px;
  border-radius: 7px;
  border: 1px solid #9CA3AF;
}

.transfer-amount_button {
  margin-left: 205px;
  padding: 13px 23px;
}

.transfer-alert { 
  margin: 0px;
  margin-top: -10px;
  margin-bottom: 10px;
  color: red;
}

.alert-input {
  border: 1px solid red;
}

.account-details__container--centre-left {
  width: 684px;
  height: 288px;
  padding: 25px 50px 20px 50px;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0px 5px 20px 0px #00000040;
}

.account-details__container--bottom{
  width: 1330px;
  min-height: 345px;
  padding: 25px 50px 65px 50px;
  border-radius: 56px;
  background-color: #F3F4F6;
}

table {
  width: 1229px;
  border-collapse: collapse
}

.table-head {
  height: 64px;
  background-color: #116ACC;
}

.table-head__th {
  padding: 20px 49px 20px 0px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
}

.table-head__th:first-child {
  padding-left: 49px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.table-head__th:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.table-body__th {
  padding: 20px 49px 20px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #374151;
  border-bottom: 2px solid #0052FF1A;
}

.table-body__th:first-child {
  padding-left: 49px;
}

.red {
  color: #FD4E5D;
}

.green {
  color: #76CA66;
}

// .table-body__th--amount{
//   color: green;
// }

/* detail-history */
.detail-history__container {
  max-width: 1440;
  padding: 50px;
  min-height: 924px;
  background-color: #E5E5E5;
}

.detail-history___container--title {
  justify-content: space-between;
}

.detail-history__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #000000;
}

.detail-history__text--title-left {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  color: #000000;
}

.detail-history_button--back {
  width: 209px;
  height: 52px;
  padding: 12px 22px 12px 48px;
  font-weight: 500;
  font-size: 16px;
  background-image: url('./assets/images/arrow.svg');
  background-repeat: no-repeat;
  background-position: 22px;
}

.detail-history__text--title-right {
  margin: 0;
  margin-top: 33px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.detail-history__container--top {
  width: 1330px;
  height: 345px;
  padding: 25px 98px 18px 98px;
  margin-bottom: 50px;
  border-radius: 56px;
  background-color: #F3F4F6;
}

.detail-history__title--top-center {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.detail-history__container--centre {
  width: 1330px;
  height: 345px;
  padding: 25px 98px 18px 98px;
  margin-bottom: 50px;
  border-radius: 56px;
  background-color: #F3F4F6;
}

.detail-history__title--center {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.detail-history__container--bottom {
  width: 1330px;
  min-height: 345px;
  padding: 25px 50px 65px 50px;
  border-radius: 56px;
  background-color: #F3F4F6;
}

/* currencies */
.currencies__container {
  max-width: 1440;
  padding: 50px;
  min-height: 924px;
  background-color: #fff;
}

.currencies__title {
  margin: 0;
  margin-bottom: 56px;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #000000;
}

.currencies__container--center-left {
  margin-right: 49px;
}

.your-currencies__container{
  width: 587px;
  min-height: 411px;
  margin-bottom: 44px;
  padding: 50px;
  border-radius: 50px;
  box-shadow: 0px 5px 20px 0px #00000040;
}

.change-currencies__container {
  width: 587px;
  min-height: 273px;
  padding: 50px;
  border-radius: 50px;
  box-shadow: 0px 5px 20px 0px #00000040;
}

.currencies__container--center-right {
  width: 703px;
  min-height: 728px;
  padding: 50px;
  border-radius: 50px;
  background-color: #E5E5E5;
}

.your-currencies__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.currency-item__container {
  width: 488px;
  justify-content: space-between;
}

.currency-item__container-left {
  width: 45px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.currency-item__container-center {
  width: 390px;
  margin-right: 10px;
  border-bottom: 1px dotted #000000;
}

.currency-item__container-right {
  text-align: right;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #000000;
}

.change-currencies__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.сurrency-from__span {
  margin-right: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #000000;
}

.сurrency-from__select {
  width: 134px;
  margin-right: 20px;
  margin-bottom: 25px;
  padding: 10px 50px 10px 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #000000;
  border-radius: 7px;
  border: 1px solid #9CA3AF;
}

.сurrency-to__span {
  margin-right: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #000000;
}

.сurrency-to__select {
  width: 134px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 10px 50px 10px 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #000000;
  border-radius: 7px;
  border: 1px solid #9CA3AF;
}

.change-amount__span {
  margin-right: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #000000;
}

.change-amount__input {
  width: 300px;
  margin-right: 25px;
  padding: 10px 50px 10px 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #000000;
  border-radius: 7px;
  border: 1px solid #9CA3AF;
}

.change-currencies_button {
  padding: 47px  13px;
}

.currency-change__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.socket-container{
  height: 645px;
  overflow: hidden;
}

.socket-item__container {
  width: 603px;
  justify-content: space-between;
}

.socket-item__container-left {
  width: 101px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.socket-item__container-center {
  width: 370px;
  margin-right: 10px;
}

.dotted-red {
  border-bottom: 1px dotted #FD4E5D;
}

.dotted-green {
  border-bottom: 1px dotted #76CA66;
}

.socket-item__container-right {
  margin-right: 15px;
  text-align: right;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #000000;
}

.socket-item__img {
  width: 20px;
  height: 10px;
}

.img-red {
  fill: #FD4E5D;
  transform: rotate(180deg);
}

.img-green {
  fill: #76CA66;
}

.alert-сurrency {
  border: 1px solid red;
}

.alert-span {
  margin: 0;
  margin-top: 10px;
  color: #FD4E5D;
}

/* atm-card */
.atm-card__container {
  max-width: 1440;
  padding: 50px;
  min-height: 924px;
  background-color: #fff;
}

.atm-card__title {
  margin: 0;
  margin-bottom: 56px;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #000000;
}

/* loader */

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}